# CSV files
*.csv
!pycomma/tests/test_data_with_header.csv
!pycomma/tests/test_data_without_header.csv

# venv
env/

# JSON files
*.json

# cache
__pycache__/
.pytest_cache/
pycomma/__pycache__/
pycomma/tests/__pycache__/

# VSCode
.vscode/